* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .nav {
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    /* position: relative; */

    background-color: rgb(7, 7, 7);
    color: white;
    height: 80px;
  }
  .bar1 {
    border: 1px solid black;
    height: 25px;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
  .brand-logo {
    /* border: 1px solid white; */
    height: 80%;
    width: 10%;
    margin-left: 5%;
    margin-top: 1%;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }
  .shop {
    background-color: black;
    border: black;
    color: white;
    cursor: pointer;
  }
  .sidebor {
    border-left: 2px solid #ff0000;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: rgb(255, 0, 0);
    display: flex;
    line-height: 1px;
  }
  .class1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-grow: 2;
    /* height: 40%;
    width: 18%;
    margin-top: 30px;
    margin-right: 150px;
    margin-left: 5px; */
  }
  /* form.example input[type="text"] {
    padding: 10px;
    font-size: 7px;
    border: 1px solid black;
    float: left;
    width: 80%;
    background: #f1f1f1;
    height: 100%;
  } */

  .search-input {
    padding: 10px;
    font-size: 7px;
    border: 1px solid black;
    float: left;
    /* width: 80%; */
    background: #f1f1f1;
    outline: none;
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  ::-webkit-input-placeholder {
    font-size: 12px;
  }
  /* form.example button {
    width: 15%;
    padding: 4px;
    height: 100%;
    background: white;
    color: black;
    font-size: 5px;
    border: 1px solid black;
    border-left: none;
    cursor: pointer solid black;
  } */

  .search-button {
    /* width: 15%; */
    padding: 5px;
    background: white;
    color: black;
    font-size: 5px;
    border: 1px solid black;
    border-right: none;
    cursor: pointer;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .search-icon {
    font-size: 19px;
  }

  form.example button:hover {
    background: white;
  }

  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .class2 {
    display: flex;
    align-items: center;
    flex-grow: 2;
    justify-content: center;
    /* border: 1px solid white; */
    /* height: 40%;
    width: 5%;
    margin-top: 30px;
    margin-right: 5px; */
  }
  .profileicon a {
    padding: 5px;
  }
  .fasfa-shopping-cart {
    color: white;
    height: 15%;
  }


*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.body{
    background-color: #242424;
}
#back{
    background-color: #1c1c1c;
    color: white;
}
.nav{
    background-color: white;
}

#name{
    margin-bottom: 10px;
}

#nav1 {
    height: 38px;
    background-color: #f4f4f4;
  }
#nav1 > div {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    min-width: 1100px;
    align-items: center;
    font-weight: 700;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, "Noto Sans",
      Roboto, Arial, "Hiragino Sans", "Hiragino Kaku Gothic Pro",
      "ヒラギノ角ゴ Pro W3", "Noto Sans CJK JP", Osaka, Meiryo, メイリオ,
      "MS PGothic", "ＭＳ Ｐゴシック", "Hiragino Sans GB",
      "Arial Unicode MS", sans-serif;
    font-size: 14px;
  }
  #nav1 div span a{
    text-decoration: none;
    color: black;
  }
#span1 {
    font-weight: normal;
    padding-left: 20px;
    padding-right: 20px;
    color: #1b1b1b;
}
#span2 {
font-weight: normal;
color: #1b1b1b;
}
/* .nav>div{
    width: 90%;
    margin: auto;
    height: 70px;
    display: flex;
} */
.navbarcategory{
    height: 100%;
    width: 40%;
    display: flex;
    min-width: 40%;
}
.mainlogo{
    width: 28%;
    min-width: 150px;
}
.navbarcategory1{
    width: 100px;
    height: 40px;
    margin: 13px 0;
}
.menubar{
    width: 72%;
    min-width: 330px;
}
.menubar>ul{
    display: inline flex;
    list-style: none;
}
.menubar>ul>li{
    margin: 25px 25px 0px 0px;
    float: left;
}
.menubar>ul>li>a{
    text-decoration: none;
    color: black;
}
.menubar>ul>li:hover{
    border-bottom: 3px solid green;
}
.navbaricon{
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
    min-width: 700px;
}
.navbaricon>div{
    margin: 20px 0px 0px 40px;
}
#search{
    font-size: 14px;
    font-weight: 400;
    border: none;
    width: 85%;
    height: 100%;
    outline: none;
}
#searchicon {
font-size: 18px;
}
#searchitem {
border: 1px solid #ababab;
padding : 3px 0px 0px 15px;
height: 30px;
}
i{
font-size: 24px;
font-weight: 700;
color: #1b1b1b;
}
.sub-menu1{
    display: none;
    padding-top: 10px;   
}
.sub-menu1>ul>li{
    list-style: none;
    
}
.sub-menu1>ul>li>a{
    text-decoration: none;
    font-size: 17px;
    color: black;
}
.menubar>ul>li:hover .sub-menu1{
    display: block;
    position: absolute;
    background-color: white;
}
.menubar>ul>li:hover .sub-menu1>ul{
    display: block;
    margin: 0px 0px 10px 0px;
}
.menubar>ul>li:hover .sub-menu1>ul>li{
    width: 150px;
    padding: 10px;
    border-radius: 0%;
    text-align: left;
}
.menubar>ul>li:hover .sub-menu1>ul>li>a:hover{
    text-decoration: underline;
}
.fa-caret-right{
    float: right;
}
.sub-menu2{
    display: none;
    padding-top: 0%;
}
.sub-menu1>ul>li:hover .sub-menu2{
    width: 160px;
    position: absolute;
    display: block;
    margin-left: 140px;
    margin-top: -20px;
    background-color: white;
}
.sub-menu1>ul>li:hover .sub-menu2>ul>li{
    display: block;
    margin: 0px 0px 10px 0px;
}
.sub-menu1>ul>li:hover .sub-menu2>ul>li>a:hover{
    text-decoration: underline;
}
.sub-menu2>ul>li{
    list-style: none;
}
.sub-menu2>ul>li>a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    padding-left: 5px;
    margin-top: 15px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
}
.sticky + .content {
    padding-top: 60px;
}
.profile{
    padding-top: 20px;
    padding-left: 10px;
    display: none;
    width: 140px;
}
.profile>ul{
    list-style: none;
}
.profile>ul>li{
    padding-bottom: 20px;
    display: block;
}
.profile>ul>li>a{
    color: black;
    text-decoration: none;
    
}
.profileicon:hover .profile{
    display: block;
    position: absolute;
    background-color: white;
}
.profileicon:hover .profile>ul>li>a:hover{
    text-decoration: underline;
    border: solid;
}
#Productpage{
    width: 90%;
    margin: auto;
}
#Productpage>P{
    color: #757575;
    font-size: 13px;
}
.divide50{
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
   
}
.divide50>div{
    width: 50%;
}
.divide50>:nth-child(1)>div{
    height: 500px;
    width: 80%;
    margin: auto;
}
#des{
    margin: 80px 0px 20px 0px;
}
.overview{
    margin: 20px 0px 20px 0px;
}
.divide50>:nth-child(2){
    padding-left: 100px;
}
.color{
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.color>div{
    width: 20%;
    border-radius: 50%;
}
.color>:nth-child(1){
    background-color: #C0C0C0;
    
}
.color>:nth-child(2){
    background-color: green;
}
.color>:nth-child(3){
    background-color: #d2ada5;
}
.color>:nth-child(4){
    background-color: #848683;
}
.color>div:hover{
    cursor: pointer;
    border: 3px solid black;
}
.size{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.size>div{
    width: 13%;
    border: 1px solid black;
    padding: 15px;
}
.size>div:hover{
    border: 3px solid black;
    cursor: pointer;
}
#select{
    width: 100px;
    height: 40px;
}
/* #button{
    width: 100%;
    height: 50px;
    background-color: red;
    color: white;
    font-weight: 700;
    font-size: 18px;
    border: 2px solid red;
} */
/* #button:hover{
    background-color: rgb(243, 14, 14);
    cursor: pointer;
} */
#wishlist{
    height: 50px;
    display: flex;
}

.ptag>p{
    font-size: 18px;
}
#review{
    width: 50%;
    height: 50px;
    color: black;
    font-weight: 700;
    border-radius: 0px;
}
#review:hover{
    cursor: pointer;
}
#colordisplay{
    display: flex;
    justify-content: space-between;
}
#colorselect{
    height: 30px;
    border: 1px solid black;
}
#chart{
    display: flex;
    justify-content: space-between;
}
#sizechart{
    height: 30px;
    border: 1px solid black;
}

.nav {
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    /* position: relative; */

    background-color: rgb(7, 7, 7);
    color: white;
    height: 80px;
  }
  .bar1 {
    border: 1px solid black;
    height: 25px;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
  .brand-logo {
    /* border: 1px solid white; */
    height: 80%;
    width: 10%;
    margin-left: 5%;
    margin-top: 1%;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }
  .shop {
    background-color: black;
    border: black;
    color: white;
  }
  .sidebor {
    border-right: 1px solid red;
    border-end-end-radius: 1px;
    display: flex;
  }
  .class1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-grow: 2;
    /* height: 40%;
    width: 18%;
    margin-top: 30px;
    margin-right: 150px;
    margin-left: 5px; */
  }
  /* form.example input[type="text"] {
    padding: 10px;
    font-size: 7px;
    border: 1px solid black;
    float: left;
    width: 80%;
    background: #f1f1f1;
    height: 100%;
  } */

  .search-input {
    padding: 11px;
    font-size: 7px;
    border: 1px solid black;
    float: left;
    /* width: 80%; */
    background: #f1f1f1;
    outline: none;
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  ::-webkit-input-placeholder {
    font-size: 12px;
  }
  /* form.example button {
    width: 15%;
    padding: 4px;
    height: 100%;
    background: white;
    color: black;
    font-size: 5px;
    border: 1px solid black;
    border-left: none;
    cursor: pointer solid black;
  } */

  .search-button {
    /* width: 15%; */
    padding: 5px;
    background: white;
    color: black;
    font-size: 5px;
    border: 1px solid black;
    border-right: none;
    cursor: pointer;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .search-icon {
    font-size: 19px;
  }

  form.example button:hover {
    background: white;
  }

  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .class2 {
    display: flex;
    align-items: center;
    flex-grow: 2;
    justify-content: center;
    /* border: 1px solid white; */
    /* height: 40%;
    width: 5%;
    margin-top: 30px;
    margin-right: 5px; */
  }
  .profileicon a {
    padding: 5px;
  }
  .fasfa-shopping-cart {
    color: white;
    height: 15%;
  }

  .icon{
      color:white
  }

  .product-page-button{
    padding: 10px;
    width: 150px;
    background: black;
    color: white;
    border:none;
    cursor:pointer
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;
}
.container{
    background-color: black;
    width: 100%;
    margin: auto;
    display: flex;
}
.img{
  
    height: 10%;
    width: 40%;
}
.mat{

    height: 10%;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;

}

a{
    text-decoration:none
}
   
.footer{
    
    width: 30%;
    height: 600px;
    
    padding: 40px;
    
}
.class19{
    
    width: 70%;
    height: 600px;
    display: flex;
}
.class1-19{

    width: 30%;
    height: 600px;
    margin-right: 40;
    padding: 20px;
    line-height: 40px;
}

.example{
    display: flex;
    gap: 20px;
}

/* Style the search field */
.example input[type=text] {
  padding: 10px;
  border: 1px solid grey;
  width: 100%;
  background: #f1f1f1;
}

/* Style the submit button */
.example button {
  width: 100%;
  padding: 10px;
  background:black;
  color: white;
  font-size: 10px;
  border: 1px solid grey;
  cursor: pointer;
}

form.example button:hover {
  background: red;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
.foottop2{
    /* border: 1px solid white; */
    width: 100%;
    height: 60px;
    background-color: #2c2c2c;
    color: #ccc2bb;
    text-align: center;
    justify-content: center;
}
.foottop1{
    /* border: 1px solid white; */
    width: 100%;
    height: 150px;
    background-color: #2c2c2c;
    color: #ccc2bb;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.foottop1-1{
    /* border: 1px solid white; */
    width: 20%;
    height: 80px;
    /* height: 100%; */
    display: flex;
    justify-content: space-around;
}
