* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .nav {
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    /* position: relative; */

    background-color: rgb(7, 7, 7);
    color: white;
    height: 80px;
  }
  .bar1 {
    border: 1px solid black;
    height: 25px;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
  .brand-logo {
    /* border: 1px solid white; */
    height: 80%;
    width: 10%;
    margin-left: 5%;
    margin-top: 1%;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }
  .shop {
    background-color: black;
    border: black;
    color: white;
    cursor: pointer;
  }
  .sidebor {
    border-left: 2px solid #ff0000;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: rgb(255, 0, 0);
    display: flex;
    line-height: 1px;
  }
  .class1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-grow: 2;
    /* height: 40%;
    width: 18%;
    margin-top: 30px;
    margin-right: 150px;
    margin-left: 5px; */
  }
  /* form.example input[type="text"] {
    padding: 10px;
    font-size: 7px;
    border: 1px solid black;
    float: left;
    width: 80%;
    background: #f1f1f1;
    height: 100%;
  } */

  .search-input {
    padding: 11px;
    font-size: 7px;
    border: 1px solid black;
    float: left;
    /* width: 80%; */
    background: #f1f1f1;
    outline: none;
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  ::-webkit-input-placeholder {
    font-size: 12px;
  }
  /* form.example button {
    width: 15%;
    padding: 4px;
    height: 100%;
    background: white;
    color: black;
    font-size: 5px;
    border: 1px solid black;
    border-left: none;
    cursor: pointer solid black;
  } */

  .search-button {
    /* width: 15%; */
    padding: 5px;
    background: white;
    color: black;
    font-size: 5px;
    border: 1px solid black;
    border-right: none;
    cursor: pointer;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .search-icon {
    font-size: 19px;
  }

  form.example button:hover {
    background: white;
  }

  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .class2 {
    display: flex;
    align-items: center;
    flex-grow: 2;
    justify-content: center;
    /* border: 1px solid white; */
    /* height: 40%;
    width: 5%;
    margin-top: 30px;
    margin-right: 5px; */
  }
  .profileicon a {
    padding: 5px;
  }
  .fasfa-shopping-cart {
    color: white;
    height: 15%;
  }


#paymentpage{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;
}
#paymentpage>:nth-child(1){
    border: 1px solid black;
    padding: 20px;
}
#paymentpage>:nth-child(2){
    border: 1px solid black;
    padding: 20px;
    height: 250px;
}
.checkoutpart0{
    display: flex;
}
#totalitsms{
    padding-top: 18px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 800;
}
.checkoutpart2{
    display: flex;
    justify-content: space-between;
}
.checkoutpart1{
    display: flex;
    justify-content: space-between;
}
.checkoutpart3{
    display: flex;
    justify-content: space-between;
}
#totalpriceshipping{
    padding-top: 20px;
    font-weight: 700;
    font-size: 18px;
}
#paymentpage>:nth-child(1){
    width: 600px;
    padding: 2px 20px 0px;
}
.cardselect{
    display: flex;
}
.cardselect>:nth-child(1){
    display: flex;
    margin-right: 30px;
}
.cardselect>:nth-child(2){
    display: flex;
    margin-right: 30px;
}
.cardselect>:nth-child(3){
    display: flex;
}
.cardnumber1{
    display: flex;
    justify-content: space-between;
}
.cardlabel1{
    padding-top: 15px;
}
.input1{
    width: 400px;
    height: 35px;
    border: none;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
}
#continue{
    background-color: black;
    color: white;
    width: 200px;
    height: 35px;
    cursor: pointer;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
}
.sticky + .content {
    padding-top: 60px;
}