#back{
    background-color: #1c1c1c;
    color: white;
}
.orderflex{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
#shopp{
    margin-top: 150px;
    width: 250px;
    height: 35px;
    background-color: black;
    color: white;
    font-size: 17px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
.checkoutpart0{
    display: flex;
}
#totalitsms{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 800;
}
.checkoutpart2{
    display: flex;
    justify-content: space-between;
}
.checkoutpart1{
    display: flex;
    justify-content: space-between;
}
.checkoutpart3{
    display: flex;
    justify-content: space-between;
}
#totalpriceshipping{
    padding-top: 20px;
    font-weight: 700;
    font-size: 18px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
}
.sticky + .content {
    padding-top: 60px;
}